$baseFont: 'Spoqa Han Sans Neo';

$xs: 0.75rem; // 12px
$sm: 0.875rem; // 14px
$base: 1rem; // 16px
$lg: 1.125rem; // 18px
$xl: 1.25rem; // 20px
$xl2: 1.375rem; // 22px
$xl3: 1.5rem; // 24px
$xl4: 1.75rem; // 28px
$xl5: 2.125rem; // 34px
$xl6: 3rem; // 48px
$xl7: 3.75rem; // 60px

$spacing1: 0.375rem; // 6px
$spacing2: 0.625rem; // 10px
$spacing3: 1.125rem; // 18px
$spacing4: 1.375rem; // 22px
$spacing5: 1.875rem; // 30px
$spacing6: 2.0625rem; // 33px
$spacing7: 3.75rem; // 60px